body{
    margin: 0;
    padding: 0;
    height: 100vh;
}


/* HEADER LOGO SECTION  */
.page-section1{
    display: flex;
    justify-content: center;
    align-items:flex-start ;
    margin: 0;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.page-section1 .section1-container{
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-content: flex-end;
    color: #F9FAF8;
}

.section1-container .header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-size: 24px;
    font-weight: bolder;
}

.header .links{
    display: flex;
    justify-content: end;
    margin-left: auto;
}

.header ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin-left: auto;
}

.header a{
    text-decoration: none;
    color: #F9FAF8;
}

.section1-container .about{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 200px;
}

.about .sign-up{
    display: flex;
    flex-flow: column;
    width: 300px;
}

.sign-up{
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up h1{
    font-size: 38px;
    font-weight: bolder;
    color: #F9FAF8;
}

.about button{
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    margin-right: auto;
    padding: 10px;
    border-radius: 2px;
}

.image-placeholder{
    margin-left: auto;
}

img{
    display: flex;
    height: 20em;
    border-radius: 10px;
}




/* Some Random Information with Cards */
.page-section2{
    display: flex;
    margin: 0;
    padding: 50px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.page-section2 .random-info{
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.squares{
    display: flex;
    justify-content: center;
    gap: 50px;
    max-width: 40px;
}

.squares .square{
    border: #3882F6 solid 5px;
    padding: 70px;
    border-radius: 10px;
}

.squares p{
    text-align: center;
}

/* INSPIRING QUOTE */

.page-section3{
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-section3 .quote-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column;
    width: 500px;
    padding: 50px;
}

.quote-container h2{
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
}

.quote-container p{
    font-weight: bolder;
}

/* CALL TO ACTION SIGN-UP */
.page-section4{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 50px; */
    padding: 50px;
}

.sign-up-container{
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    padding: 40px 60px 40px 60px;
    margin: 0;
    gap: 400px;
}

.sign-up-container .action-call{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    font-family: monospace ;
}

.action-call h3{
    font-size: 39px;
    margin: 0;
    padding: 0;
}

.sign-up-container .sign-up{
    background-color: #3882f6;
    border: white solid 1px;
    border-radius: 5px;
    padding: 15px;
}

/* FOOTER */
.footer{
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}